h1 {
  text-align: center;
}

.grid {
  background-color: lightcyan;
  position: absolute;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}

.row {
  background-color: lightcyan;
  text-align: center;
}

.gridSquare {
  background-color: white;
  text-align: center;
  border: 1px solid black;
}

.gridSquare:hover {
  cursor: pointer;
  background-color: yellow;
}
